body {
  background-color: #364156;
}
/* Navbar */
.navbar {
  height: 95px;
  font-family: "Lato-Regular" sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color:#11151C;
  width: 100%;
}

.navbar p{
  font-size: 22px;
  font-weight: 400;
  color: white;
  transform: translate(20px, 10px);
}

.navbar-brand {
  padding: 0;
  border: none;
}

.btn {
  border-radius: 0;
  background: white;
  font-size: 18px;
}

#bs-example-navbar-collapse-1 {
  padding: 25px 50px;
  margin: 0;
}

#bs-example-navbar-collapse-1 a:hover{
  color: white;
}

/* Container 1 */
.Container{
  padding-left: 50px;
  padding-right:0px;
  width: 100%;
}

.Container .row{
  margin: 0;
}

.text-box {
  margin-top: -100px;
  background: rgba(197, 216, 246, 0.69);
  color: white;
  border-radius: 3px;
  padding: 20px;
  margin-right: 0;
  height: 591px;
  box-sizing: border-box;
}

.text-box h2,.text-box p,.text-box ul, .text-box h3 {
  padding-left: 30px;
}

.text-box h2 {
  font-family: "Lato-Regular", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
}

.text-box h3 {
  font-size: 30px;
  font-family: "Lato-Regular", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.text-box h3 {
  font-size: 30px;
  font-family: "Lato-Regular", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.text-box h3 {
  font-size: 30px;
  font-family: "Lato-Regular", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.text-box p, .text-box li {
  font-size: 16px;
  font-family: "Lato-Regular", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-bottom: 15px;
}

.Photo {
  margin: 25px;
  padding-right: 50px;
}

/* Carousel */

.CarouselContainer{

  border: 2px solid grey;
  padding:30px 30px;
  margin-top: 50px;
  background: white;
  width: 100%;

}

.carousel {
  border: 2px solid grey;
}

.carousel .carousel-control {
  background-image: none;
}

.carousel .carousel-control i{
  border : 2px solid grey;
  font-size: 2.5em;
  padding: 10px;
  color: grey;
}

a.left.carousel-control i {
  transform: translate(-110px, 70px);
}

a.right.carousel-control i {
  transform: translate(110px, 70px);
}
/* Container 2 */

.col-sm-4 h2,.col-sm-4 p, .col-sm-4 p a {
  font-size: 16px;
  font-family: "Lato-Regular", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}
.grid-tile {
  background-color: #7D4E57;
  border: 2px solid #D66853;
  height: 235px;
  font-size: 20px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  position: sticky;
}


i {
  font-size: 3em;
  padding: 40px;
  color: white;
}

.grid-tile .fa-plus:hover{
  font-size: 4em;
}

.col-sm-8 p {
  font-size: 15px;
  font-family: "Lato-Regular", Verdana, Arial, Helvetica, sans-serif;
  padding-top: 10px;
  display: block;
  font-weight: 200;
  box-sizing: border-box;
}


.Container2 .row {
  background-color: #D66853;
  padding: 40px;
  color: white;
  width: 100%;
}

/* Form */

.col-sm-6 {
  padding: 10px;
}

.phone {
  padding: 0px;
  width: 100%;
}

.name {
  padding: 0px;
}

.form {
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.form-control {
  border: 0px;
  border-bottom: 2px solid #D66853;
  border-top-style: none;
  border-radius: 0;
  height: 82px;
  font-family: "Lato-Regular" sans-serif;
  font-size: 18px;
  /* display: block; */
  text-align :center;
  background-color: #364156;
}

.form h2, .form p{
  color: #D66853;
  padding: 10px;
}

.form a {
  color: #7D4E57;
}

.form-group button {
  width: 215px;
  height: 58px;
  border: 3px solid #D66853;
  border-radius: 0;
  font-size: 19px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  align-self: center;
  color: #D66853;
  background-color: #364156;
}

.form-group2 {
  /* width: 100%; */
  padding-bottom: 15px;
  margin-right: 0;
  padding: 10px;
}

.form-group {
  padding-right: 0;
}

/* footer */

footer {
  background-color: #7D4E57;
  color: white;
  height: 100%;
  width: 100%;
}

footer .col-md-12 {
  padding-top: 60px;
}

.col-md-12 i{
  margin: 20px;
}

.col-md-12 p, .col-md-12 a {
  padding-top: 40px;
}
